h1 {
  font-size: 75px;
  font-weight: 700;
  letter-spacing: .19em;
  color: $dark-green;
}
h2 {
  font-weight: 300;
  letter-spacing: .19em;
  font-size: 40px;
  margin-bottom: 20px;
  color: $dark-green;

}
.wrapper {
  margin-top: 70px;
  min-height: 56vh;
}
.title {
  margin: 50px 0px;
}

.connect {
  margin: 75px 0px;
  color: $dark-green;
  padding: 0 50px;
}
.button-center {
  display: flex;
  justify-content: center;
}

.sign-in-button {
  text-align: center;
  margin: 50 0px;
  padding: 20px;
  border-radius: 1px;
  line-height: 40px;
  color: white;
  background: $sand;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  letter-spacing: 10px;
}
.sign-in-button:hover {
  color: white;
}
.dutchy-button{
  text-align: center;
  margin: 50 0px;
  padding: 20px;
  border-radius: 1px;
  line-height: 40px;
  color: white;
  background: $sand;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  letter-spacing: 10px;
  margin-top: 50px;
}
.dutchy-button:hover {
  color: white;
}
.dutchy-list {
  margin-top: 115px;
}
.dutchies {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  h1{
    font-size:35px;
  }
  h2{
    font-size: 30px;
  }
}