.newrequest {
  padding-top: 200px;
  padding-left: 200px;
  padding-bottom: 450px;
  background-image: url('http://cliparts.co/cliparts/rcL/ojG/rcLojGGpi.png');
  background-size: 100vh;
  background-repeat: no-repeat;
}
