<h1>REFUTALK</h1>
<p>Here is a list of all Dutchies waiting to share their Dutch with you!</p>

<%#= @dutchies %>

<% @dutchies.each do |dutchie| %>
  <%= dutchie.photo %>
  <%= dutchie.username %> <br>
  <%= dutchie.description %>
<% end %>
