<div class="wrapper">
  <img src="<%= @dutchie.photo %>" alt="">
  <h1> <%= @dutchie.username %></h1>
  <p><%= @dutchie.description %></p>

  <hr>

  <%= link_to "Send a Request", new_dutchy_offer_path(@dutchie)  %>
</div>




 