.card {
  background: $light-blue;
  color: $dark-green;
  position: relative;
  height: 150px;
  margin: 10px;
  padding-right: 20px;
}
.card-photo {
  position: absolute;
  left: 10px;
  top: 16px;
}
.card-name {
  position: absolute;
  left: 105px;
  top: 16px;
  font-size: 35px
}
.card-description {
  position: absolute;
  top: 65px;
  left: 108px;
  font-size: 12px;
  padding-right: 20px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
@media screen and (max-width: 768px) {
  .card-name {
    font-size: 25px;
  }
}
