<div class="wrapper">
  <div class="profile">
    <h3 class="profile-title">Your profile</h3>
    <p><img src="<%= @user.photo %>" class="avatar-xl"></p>
    <div class="profile-info">
      <div class='info-header'>username:</div>
      <div><%= current_user.username  %></div>
      <br>
      <div class='info-header'>Your description:</div>
      <div><%= @user.description %></div>

    </div>

    <%= link_to "Edit Profile", edit_profile_path(@user), class:"btn edit-button"%>
  </div>
  
</div>
