<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>
<p> You are: </p>
<%= @person.username %>

<p> You are a <%= @person.kind %> </p>
<p> Your current description:</p>
<%= @person.description %>
